*{
    margin: 0;
}

.container{
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly; /*Horizontal*/
    align-items: center; /*Vertical*/
    flex-flow: wrap;
}
.item{
    background-color: chocolate;
    height: 50px;
    width: 50px;
    /*flex-grow: 1;*/
    margin: 8px;
}

.item:nth-child(odd){
    background-color: aqua;
}